* {
          box-sizing: border-box;
          padding: 0;
          margin: 0;
}

.wrapper{
          background-color: black;
}
.head{
          display: flex;
          justify-content: space-between;
          margin-bottom: 2%;
}

/* Remove margins and padding from the list */
ul {
          margin: 0;
          padding: 0;
}

/* Style the list items */
li{
          border-bottom: 1px solid #d9d9d9;

}

ul li {
          list-style-type: none;
          cursor: pointer;
          position: relative;
          padding: 12px 8px 12px 40px;
          background-color: rgb(48, 47, 47);
          color: white;
          font-size: 18px;
          transition: 0.2s;
          text-decoration: none;
/* make the list items unselectable */
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
}


/* When clicked on, add a background color and strike out text */
ul li.checked {
          color:gray;
          text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
          border-radius: 50%;
          content: '';
          position: absolute;
          border-color: white;
          border-style: solid;
          border-width: 0 2px 2px 0;
          top: 10px;
          left: 16px;
          transform: rotate(45deg);
          height: 15px;
          width: 7px;
}

/* Style the close button */
.close {
          font-size: x-large;
          position: absolute;
          right: 0;
          top: 0;
          padding: 12px 16px 12px 16px;
}
#myDIV{
          background-image: none;
          padding: 2% 25%;
}

.clear{
          clear: both;
}


/* Style the header */
.header {
          background-image: url('/q1/assets/images/bg-desktop-dark.jpg');
          background-repeat: no-repeat;
          background-size: contain;
          padding:3%;
          color: white;
          width: 100%;
        

}

/* Clear floats after the header */
.header:after {
          content: "";
          display: table;
          clear: both;
}

/* Style the input */
input {
          border-radius: 5px;
          width: 100%;
          padding: 10px;
          float: left;
          font-size: 16px;
          margin-bottom: 3%;
          background-color: rgb(48, 47, 47);
}

.endOfUl{
          background-color: rgb(48, 47, 47);;
          color: gray;
          display: flex;
          justify-content: space-between;
          padding:3%;

}
.end{
          margin-top: 1%;
          background-color:rgb(48, 47, 47);;
          display: flex;
          justify-content: center;
          padding: 4%;
          border-radius: 2%;
          color: black;
}
.end>div{
          padding: 0 1%;
}
.border_radius{
          border-radius: 5px;
}